@using ClientManagementSys.Areas.Identity.Data
@inject SignInManager<ApplicationUser> _signInManager;




    <div class="top">
        <h4>Client Management System</h4>
    </div>
    <div class="admin-icon">
        <i class='fas fa-user-circle' style='font-size:90px'></i>
        <h3>Admin</h3>
    </div>
    <div class="nav">
        <ul class="side-menu">
            <li class="nav-item">
                <a asp-action="index" asp-controller="DashBoard">
                    <i class="fa fa-table icon"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fas fa-users icon"></i>
                    <span>Organization</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
             
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add Organization", "Create", "Organizations")
                    </li>
                    <li>
                        @Html.ActionLink("Organization List", "Index", "Organizations")
                    </li>
                    <li>
                        @Html.ActionLink("Create Representatives", "Create", "Org_Representative")
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="fa fa-shopping-cart icon"></i>
                    <span>Product</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add Product", "Create", "Products")
                    </li>
                    <li>
                        @Html.ActionLink("Product List", "Index", "Products")
                    </li>
                    <li>
                        @Html.ActionLink("Update Product", "Create", "Product_Version")
                    </li>
                </ul>
            </li>
               @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
            <li class="nav-item ">
                <a href="#">
                    <i class="fas fa-file-invoice-dollar icon"></i>
                    <span>Invoice</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
               
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add Invoices", "Create", "Invoices")
                    </li>
                    <li>
                        @Html.ActionLink("Invoice List", "Index", "Invoices")
                    </li>
                </ul>
            </li>
                }
            <li class="nav-item ">
                <a href="#">
                    <i class="fa fa-file-code-o icon "></i>
                    <span>Report</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add Report", "Create", "Progress_Report")
                    </li>
                    <li>
                        @Html.ActionLink("Report List", "Index", "Progress_Report")
                    </li>
                </ul>
            </li>
               @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
            <li class="nav-item">
                <a href="#">
                    <i class="fa fa-dollar icon"></i>
                    <span>Expense</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add Expense", "Create", "Expenses")
                    </li>
                    <li>
                        @Html.ActionLink("Expense List", "Index", "Expenses")
                    </li>
                </ul>
            </li>
            }
             @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {

            <li class="nav-item ">
                <a href="#">
                    <i class="fa fa-calendar icon"></i>
                    <span>AMC</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add AMC", "Create", "AMCs")
                    </li>
                    <li>
                        @Html.ActionLink("AMC List", "Index", "AMCs")

                    </li>
                </ul>
                </li>
                }
                 @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {

            <li class="nav-item ">
                <a href="#">
                    <i class="fa fa-calendar icon"></i>
                    <span>Product Organization</span>
                    <i class="bx bxs-chevron-right"></i>
                </a>
                <ul class="sub-menu">
                    <li>
                        @Html.ActionLink("Add Product Organization", "Create", "ProductOrganizations")
                    </li>
                    <li>
                        @Html.ActionLink("List Product Organization", "Index", "ProductOrganizations")

                    </li>
                </ul>
                </li>
                }
                @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                <li class="nav-item">
                    <a asp-action="ListRoles" asp-controller="Administration">
                        <i class="fa fa-th-list" aria-hidden="true"></i>

                        <span>Manage Role</span>
                    </a>
                    
                </li>
                }
                   


    <li class="nav-item">
        <a href="#">
            <i class="fa fa-user icon"></i>
             <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
         
            </a>
    </li>
    </ul>
    </div>




