@model ClientManagementSys.ViewModel.ProductlistVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.organization.Org_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organization.Org_Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.organization.Org_Address)  @*organization.*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organization.Org_Address)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.organization.Org_Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organization.Org_Contact)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.organization.Org_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organization.Org_Email)
        </dd>
        
      <dt class = "col-sm-4">
        <b>Representative Name </b>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organization.Org_Representative.Representative_FullName)
        </dd>
         <dt class = "col-sm-4">
        <b>Product </b>
        </dt>
      @*  <dd class = "col-sm-10">
            @foreach (var item in Model.organization.ProductOrganization)
            {
                Html.DisplayFor(item => item);
            }
            *@
            

          
        </dd>
      

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.organization.Org_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
