@model ClientManagementSys.Models.Org_Representative

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Org_Representative</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representative_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Representative_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representative_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Representative_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representative_FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Representative_FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Representative_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Representative_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.Org_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Representative_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
